html, body {
	margin: 0;
	height: 100%;
	position: relative;
	text-decoration: none;
}

/* -------------------- element placeholder -------------------- */
.element {
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px;
	color: #000;
	font-size: 20px;
	font-family: 'Noto Sans TC', sans-serif;
	padding: 10px;
}


/* -------------------- header elements -------------------- */
.navbar {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
}
.navbar .element {
	height: 120px;
	background-color: rgba(0,0,0,0);
}
@media (min-width: 768px) {
	.navbar .element{
		height: 200px;
	}
}

/* -------------------- main elements -------------------- */
.jumbo {
	padding-top: 150px;
	padding-bottom: 40px;

	background-color: rgba(0, 0, 0, 0.2);
}
.jumbo .element {
	height: 500px;
}
.info {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 40px 0;
	border-top: 2px solid #fff;
}
.info .title {
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 24px;
	line-height: 40px;

	color: #000;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.info .element {
	height: 150px;


}


/* -------------------- footer elements -------------------- */
.footer {
	background-color: #000;
	padding: 40px 0;
}
.footer .element {
	height: 100px;
	border: 1px solid #fff;
	color: #fff;
	font-weight: thin;
}


/* 黃 rgb(243, 196, 58) */
/* 藍 rgb(0, 115, 185) */

@media screen and (min-width: 768px) {
	
}
@media screen and (min-width: 992px) {
	
}
@media screen and (min-width: 1200px) {
	
}