*{
	position: relative;
}
html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 微軟正黑體;
	line-height: 36px;
	text-decoration: none;
}
h1{
	font-size: 36px;
	color: rgb(243, 196, 58);
	margin-top: 40px;
}
h2{
	color: rgb(0, 115, 185);
}
h3{
	color: rgb(243, 196, 58);
}
img{
	margin-top: 10px;
}
.nav a{
	line-height: 18px;
	font-size: 18px;
	background-color: #fff;
	color: rgb(0, 115, 185);
	font-weight: bold;
}
#top{
	position: fixed;
	bottom: 30px;
	right: 30px;

	background-color: rgb(0, 115, 185);
	color: #fff;
	padding: 10px;
	opacity: 0.7;
	border-radius: 20%;

	text-align: center;
}
.poster{
	background-color: rgb(0, 115, 185);
}
.block{
	margin: 80px 20px;
}
.originte{
	background-color: #fff;
}
.input_group{
	display: block;
}
.input_label{
	width: 120px;
	height: 50px;
	margin: 10px;
	font-weight: bold;
	display: inline-block;
}
.input_field{
	margin: 10px;
	display: inline-block;
}
.input_field input{
	width: 400px;
	height: 50px;
}

.btn{
	background-color: rgb(0, 115, 185);
	display: inline-block;
	width: 400px;
	line-height: 50px;
	vertical-align: top;
	border-radius: 25px;
	color: #fff;
}
.btn a{
	color: #fff;
	font-weight: bold;
}
.btn:hover{
	background-color: rgb(243, 196, 58);
}