/* -------------------- global -------------------- */
* {
	position: relative;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
}
a {
	text-decoration: none;
	color: #000;
}

/* -------------------- element placeholder -------------------- */
.element {
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px;
	color: #000;
	font-size: 1rem;
	text-align: center;
	height: 100%;
	padding: 10px;
}



/* -------------------- utility -------------------- */
.d-block {
	display: block;
}
.pos-cen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mb-10 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-50 {
	margin-bottom: 50px;
}
.bg-np-cen {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.bgc-white {
	background-color: #F7F8F8;
}
.bgc-beige {
	background-color: #F9F7D0;
}
.bgc-yellow {
	background-color: #F8C751;
}
.bgc-orange {
	background-color: #FA7D2B;
}
.bgc-blue {
	background-color: #296B9B;
}
.bgc-cyan {
	background-color: #1FAFD2;
}
.bdc-orange {
	border: 2px solid #FA7D2B;
}
.c-white {
	color: #F7F8F8;
}
.c-beige {
	color: #F9F7D0;
}
.c-yellow {
	color: #F8C751;
}
.c-blue {
	color: #296B9B;
}
.c-cyan {
	color: #1FAFD2;
}
.c-orange{
	color: #FA7D2B;
}
.fw-bold {
	font-weight: bold;
}
.fs-20 {
	font-size: 20px;
}


/* -------------------- header elements -------------------- */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	text-align: center;
}
.navbar .row {
	left: 15px;
	width: 100%;
}
.navbar .element {
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	max-height: 20vh;
	line-height: 18px;
	font-size: 0.8rem;
	margin: 0 -20px;
}
.navbar .logo {
	display: inline-block;
	width: 40%;
	height: 50px;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.nav {
	transition: 0.3s;
}
.nav:hover {
	transform: scale(1.2) translateY(10%);
	color: #F9F7D0;
	text-decoration: none;
}
@media (min-width: 576px) {
	.navbar .element {
		font-size: 1rem;
		line-height: 20px;
	}
	.navbar .logo {
		font-size: 2rem;
	}
}
@media (min-width: 768px) {
	.navbar .element {
		font-size: 1rem;
		line-height: 30px;
	}
	.navbar .logo {
		font-size: 1rem;
		background-position: left;
	}
}
@media (min-width: 992px) {
	.navbar .element {
		height: 60px;
		line-height: 40px;
	}
}



/* -------------------- main elements -------------------- */
.jumbo {
	padding-top: 120px;
	padding-bottom: 20px;
}
.jumbo .element {
	background-color: rgba(0, 0, 0, 0);
}
.jumbo .j-img {
	background-position: center;
	background-size: cover;
}
.jumbo .mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.jumbo .text {
	text-align: right;
	line-height: 150%;
	font-size: 0.9rem;
	color: #F7F8F8;
	width: 85%;
	position: absolute;
	bottom: 80px;
	right: 30px;
}
.jumbo .btn1-pos {
	position: absolute;
	bottom: 25px;
	left: calc(50% - 130px);
	width: 120px;
}
.jumbo .btn2-pos {
	position: absolute;
	bottom: 25px;
	right: calc(50% - 130px);
	width: 120px;
}
.jumbo .btn {
	width: 120px;
	height: 40px;
	line-height: 24px;
	font-size: 1.1rem;
	background-color: #F8C751;;
	border: 2px solid #296B9B;
}
.jumbo .btn:hover {
	background-color: #F8C751;
	font-weight: bold;
	color: #296B9B;
	transform: scale(1.2);
	transition: 0.3s;
}
@media (min-width: 768px) {
	.jumbo .btn {
		width: 200px;
		height: 45px;
		line-height: 30px;
	}
	.jumbo .btn1-pos {
		position: absolute;
		bottom: 25px;
		left: calc(50% - 250px);
		width: 200px;
	}
	.jumbo .btn2-pos {
		position: absolute;
		bottom: 25px;
		right: calc(50% - 250px);
		width: 200px;
	}
}
@media (min-width: 992px) {
	.jumbo .element {
		height: 100%;
	}
}
@media (min-width: 1200px) {
	.jumbo {
		padding-top: 120px;
		padding-bottom: 50px;
	}
}


.button-style {
	font-size: 1.2rem;
	color: #296B9B;
}
.card-style {
	background-color: #F7F8F8;
}
.card-style:hover {
	background-color: #FA7D2B;
}
.card-style:hover .button-style{
	color: #F7F8F8;
	text-decoration: none;
}


.info {
	padding-top: 120px;
	padding-bottom: 50px;
}
.info .title {
	background-color: #F8C751;
	padding: 10px;
	margin-bottom: 24px;
	line-height: 40px;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
}
.info button {
	width: 100%;
}
@media (min-width: 992px) {
	.info .element {
		height:220px;
	}
}
@media (min-width: 1200px) {
	.info {
		padding-top: 120px;
		padding-bottom: 50px;
	}
	.info .element {
		height:260px;
	}
}


.inner {
	padding: 10px 0;
}
.topic-icon {
	display: inline-block;
	width: 40%;
	height: 120px;
}
.topic-text {
	display: inline-block;
	width: 60%;
	vertical-align: top;
	padding: 0 10px;
}
.topic-text h5 {
	font-size: 1.2rem;
}
.topic-text h6 {
	font-size: 0.8rem;
}
.topic-text p {
	font-size: 0.9rem;
}
@media (min-width: 768px) {
	.topic-icon {
		width: 30%;
		height: 120px;
	}
	.topic-text {
		width: 70%;
	}
}
@media (min-width: 992px) {
	.topic-icon {
		width: 25%;
		height: 120px;
	}
	.topic-text {
		width: 75%;
	}
}



.time-block{
	height: 200px;
}
.time-area {
	display: inline-block;
	width: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.timeline {
	width: 3px;
	height: 170px;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.time-point {
	display: inline-block;
	width: 100%;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
}
.dot-area {
	display: inline-block;
	width: 20%;
	height: 100%;
}
.text-area {
	display: inline-block;
	width: 80%;
	height: 100%;
	vertical-align: top;
}
.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.stage {
	display: block;
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.1);*/
	/*border: 1px solid #000;*/
	vertical-align: top;
}
.arrow {
	display: block;
	width: 100%;
	height: 30px;
	/*background-color: rgba(0, 0, 0, 0.1);*/
	/*border: 1px solid #000;*/
	vertical-align: top;
}
.arrow-image {
	background-image: url(image/arrow.svg);
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
}
@media (min-width: 992px) {
	.stage {
		display: inline-block;
		width: 26%;
	}
	.arrow {
		display: inline-block;
		width: 10%;
	}
	.arrow-image {
		transform: rotate(0deg);
	}
}


.rule-item {
	padding: 10px;
	font-size: 0.9rem;
}
.score-chart {
	height: 150px;
	margin-bottom: 20px;
}
.rule-var {
	display: inline-block;
	width: 100%;
	padding: 0 5px;
	color: #296B9B;
}
.rule-val {
	display: inline-block;
	width: 100%;
	padding: 0 5px;
	vertical-align: top;
	color: #296B9B;
}
.note-var {
	width: 30%;
}
.note-val {
	width: 70%;
}
@media (min-width: 480px) {
	.rule-item {
		font-size: 1rem;
	}
	.rule-var {
		width: 35%;
	}
	.rule-val {
		width: 65%;
	}
}
@media (min-width: 768px) {
	.rule-var {
		width: 30%;
	}
	.rule-val {
		width: 70%;
	}
}
@media (min-width: 576px) {
	.score-chart {
		height: 200px;
	}
}
@media (min-width: 992px) {
	.score-chart {
		height: 300px;
	}
}



/* -------------------- footer elements -------------------- */
.footer {
	background-color: #1FAFD2;
	padding: 40px 0;
}
.footer .element {
	height: 200px;
	border: 1px solid #fff;
	color: #fff;
	font-weight: thin;
}
.footer a {
	color: #fff;
	line-height: 2rem;
}
.footer a:hover {
	text-decoration: none;
}

.social{
	height: 50px;
}
.social-btn {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(0%, -50%);
	transition: 0.3s;
}
.social-btn:hover {
	color: #F8C751;
	transform: scale(1.5) translateY(-50%);
}
.donate-btn {
	display: inline-block;
}
.donate-pic {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}
.donate-pic-wide {
	display: inline-block;
	height: 50px;
	width: 80px;
	background-size: contain;
	background-repeat: no-repeat;
}
@media (min-width: 480px) {
	.donate-pic {
		height: 60px;
		width: 60px;
	}
	.donate-pic-wide {
		height: 60px;
		width: 120px;
	}
}
@media (min-width: 576px) {
	.donate-pic {
		height: 70px;
		width: 70px;
	}
	.donate-pic-wide {
		height: 70px;
		width: 140px;
	}
}
@media (min-width: 768px) {
	.donate-pic {
		height: 80px;
		width: 80px;
	}
	.donate-pic-wide {
		height: 80px;
		width: 160px;
	}
}
@media (min-width: 992px) {
	.donate-pic {
		height: 100px;
		width: 100px;
	}
	.donate-pic-wide {
		height: 100px;
		width: 200px;
	}
}

/* v0.3 colors*/
/* 黃 rgb(243, 196, 58) */
/* 藍 rgb(0, 115, 185) */


/* v1.0 colors */
/* #F7F8F8 white */
/* #F9F7D0 rice */
/* #F8C751 yellow */
/* #FA7D2B orange */
/* #296B9B blue */
/* #1FAFD2 cyan */